<!-- orderables.html.erb -->
<%= turbo_frame_tag "cart" do %>
<div class="space-y-2">
  <% @cart.orderables.order(:id).each do |orderable| %>
    <% product = orderable.product %>
    <div class="border border-gray-300 p-2 rounded-md flex flex-col space-y-1">
      <%= image_tag asset_path("products/#{product.image}"), class: "w-full h-24 object-cover mb-1 rounded-md" %>
      <div class="text-sm mb-1"><%= product.name %></div>
      <div class="text-xs mb-1"><%= usd(product.price) %></div>
      <%= form_with(url: cart_add_path, local: true) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: orderable.quantity, min: 0, max: 99, class: "quantity-field text-center w-full mb-1 border rounded-md p-1 text-sm" %>
        <%= f.submit "Update", class: "bg-blue-500 text-white py-1 px-2 w-full mb-1 rounded-md text-sm" %>
      <% end %>
      <div class="flex justify-between items-center">
        <%= form_with(url: cart_remove_path) do |f| %>
          <%= f.hidden_field :id, value: orderable.id %>
          <%= f.submit "X", class: "bg-red-500 text-white py-1 px-2 w-8 h-8 rounded-full text-xs flex items-center justify-center" %>
        <% end %>
        <p class="text-sm"><strong>Totalo:</strong> <%= usd(orderable.total) %></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>
