<div id="<%= dom_id color %>">
  <p>
    <strong>Namez:</strong>
    <%= color.name %>
  </p>

  <p>
    <strong>Val:</strong>

    <%= color.val %>
  </p>

  <ul>
      <li style="color: <%= color.val %>;">
        <%= color.val %>
      </li>

  </ul>

</div>
