<script>
  let jjj = "a"
  let jslogo = '<%= @images %>'
  let jsd = '<%= @logo_data[0][:name] %>'
</script>
App
<%= @globvar %>
<%= asset_path('crew_front.png') %>
<%= @logo_data %>
<!-- app/views/logos/index.html.erb -->
<h1>Default Logos</h1>

<% @logo_data.each do |logo| %>
  <div class="logo">
    <h2>Name: <%= logo[:name] %></h2>
    <p>File: <%= logo[:file] %></p>
    <!-- Set the src attribute dynamically -->
    <%= image_tag("logo/#{logo[:file]}", class: 'img-1', size: 100 ) %>

    <!-- Form for renaming -->
    <%= form_with(url: rename_logos_path, method: :post) do |form| %>
      <%= form.hidden_field :dpath, value: @dpath %>
      <%= form.hidden_field :old_name, value: logo[:name] %>
      <%= form.label :new_name, 'New Name:' %>
      <%= form.text_field :new_name %>
      <%= form.submit 'Rename' %>
    <% end %>
  </div>
<% end %>
