<p style="color: green"><%= notice %></p>
<%= @thiscol.inspect %>
<h1>Logos</h1>

<div id="logos">
  <% @colors.each do |colorz| %>
    <%= render colorz %>
    <%= colorz.name.inspect %>
    <p>
      <%#= link_to "Show this logo", logo %>
    </p>
  <% end %>
</div>

<h1>Logos</h1>

<div id="logos">
  <% @logos.each do |logo| %>
    <%= render logo %>
    <p>
      <%= link_to "Show this logo", logo %>
    </p>
  <% end %>
</div>

<%= link_to "New logo", new_logo_path %>

<img src="C:/dev/project/_html/shirtman/img/crew_front.png">
