<%= form_tag products_path, method: :get do %>
  <%= select_tag :category, options_for_select(@category_values, params[:category]), include_blank: true %>
  <%= submit_tag "Filter by category" %>
<% end %>
<button class="btn btn-primary">AAAA</button>

<%#= link_to 'Previous', { page: @current_page - 1 } if @current_page > 1 %>
<%#= link_to 'Next', { page: @current_page + 1 } if @current_page < @total_pages %>


<%# views=>index.html %>

<!-- app/views/shared/_header.html.erb -->
<header class="bg-black text-white py-2">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <span class="text-lg font-bold">products</span>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="hover:text-gray-500">Home</a>
      <a href="#" class="hover:text-gray-500">Code</a>
      <a href="#" class="hover:text-gray-500">Login</a>
    </div>

<%#INSERT1%>

      <%= form_tag(products_path, method: 'get', class: 'flex items-center') do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search products', class: 'rounded bg-gray-800 text-white px-4 py-2 focus:outline-none focus:shadow-outline' %>
        <%= submit_tag 'Search', class: 'ml-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline' %>
      <% end %>


  </div>
</header>



<!-- app/views/index.html.erb -->
<p style="color: green"><%= notice %></p>

<h1>products</h1>

<%= turbo_frame_tag 'targ' do %>
  <%#= render partial: 'test_partial', locals: { component: @component } %>
<% end %>

<%#SORTING BY ATTRIBUTE LINKS | WRITE EACH%>
<%= @products.first.attributes.keys     %>
<% unless @products.all? { |c| c[:title].blank? } %>
  <%= link_to 'title', products_path(sort_by: 'title', order: (params[:order] == 'asc' && params[:sort_by] == 'title') ? 'desc' : 'asc'), class: 'text-blue-500 hover:text-blue-700' %>
<% end %>

<% unless @products.all? { |c| c[:content].blank? } %>
  <%= link_to 'content', products_path(sort_by: 'content', order: (params[:order] == 'asc' && params[:sort_by] == 'content') ? 'desc' : 'asc'), class: 'text-blue-500 hover:text-blue-700' %>
<% end %>

<% unless @products.all? { |c| c[:created_at].blank? } %>
  <%= link_to 'created_at', products_path(sort_by: 'created_at', order: (params[:order] == 'asc' && params[:sort_by] == 'created_at') ? 'desc' : 'asc'), class: 'text-blue-500 hover:text-blue-700' %>
<% end %>

<br><br>

<%# AUTO-ITERATE TO DISPLAY LINKS TO EACH COMPONENT ATTRIBUTE FOR SORTING | .EACH DO |attr_name|%>
<% @products.first.attributes.keys.each do |attr_name| %>
  <% unless @products.all? { |c| c[attr_name].blank? } %>
    <%= link_to attr_name.capitalize, products_path(sort_by: attr_name, order: (params[:order] == 'asc' && params[:sort_by] == attr_name) ? 'desc' : 'asc'), class: 'text-blue-500 hover:text-blue-700', data: { controller: 'sorting', action: 'click->sorting#sortproducts', sort_by: attr_name, order: (params[:order] == 'asc' && params[:sort_by] == attr_name) ? 'desc' : 'asc' } %>
  <% end %>
<% end %>


    <!-- Hero Section -->
    <section class="bg-gray-100 py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-bold">Welcome to Urban Royalty</h1>
            <p class="mt-4 text-lg">Your source for stylish urban T-shirts</p>
            <button class="mt-6 bg-black text-white py-2 px-4 hover:bg-white hover:text-black border-2 border-black" onClick="location.href='shop.html'">Shop Now</button>
        </div>
    </section>


<!-- products section -->
<section class="py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-8">Our Products</h2>
        <div id="product-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <% @products.each do |product| %>
                <div class="border-2 border-black p-4">
                    <img src="<%= product.image %>" alt="<%= product.name %> Image" class="w-full h-48 object-cover mb-4">
                    <h3 class="text-xl font-semibold"><%= product.name %></h3>
                    <p class="text-gray-700">Type: <%= product.category %></p>
                    <p class="text-gray-700">Price: <%= usd(product.price) %></p>
                    <p class="text-gray-700 mb-4">Description: <%= product.description %></p>
                    

                    
                    <button class="mt-4 bg-black text-white py-2 px-4 w-full hover:bg-white hover:text-black border-2 border-black">Add to Cart</button>
                </div>
            <% end %>
        </div>
    </div>
</section>



<!-- app/views/index.html.erb -->
<%#SHOW productS:INFO%>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <% @products.each do |product| %>
    <div class="bg-white rounded-lg shadow-md p-6">
      <!-- Your product content goes here -->
      <h2 class="text-lg font-bold mb-2"><b>Name :</b><%= product.name %> (<%= usd(product.price) %>)</h2>
      <p class="text-gray-600 mb-4"><b>Category :</b><%= product.category %></p>
      <p class="text-gray-600 mb-4"><b>Description :</b><%= product.description %></p>
      <%= link_to "Show this product", product, class: 'text-blue-500 hover:text-blue-700' %>

    </div>
  <% end %>
</div>

<!-- Add this modal at the end of your HTML body -->
<div class="modal fade" id="inspectModal" tabindex="-1" role="dialog" aria-labelledby="inspectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inspectModalLabel">Inspect productz 
        <%# <% if @product_name%> %>
          <%= @abc %> 
  <%#       <% end%> %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="inspectModalBody">
        <!-- Content will be dynamically loaded here via AJAX -->
      </div>
    </div>
  </div>
</div>




<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
      <%# MODAL WITH HTMX%, turbolinks %>
      aa
    </p>
  <% end %>
</div>

<div id="replaceme"></div>
<div id="color-circles">
  <% @products.each do |product| %>
  AA
    <div class="color-circle" hx-get="/products/<%= product.id %>" hx-swap="innerHTML" hx-target="#replaceme">
      <!-- Display your color circles here -->
      <%= product.name %>
    </div>
  <% end %>
</div>

<div id="selected-color-title">
  <!-- This div will be updated with the selected color's title -->
</div>

<div id="targ">

</div>


<script>


    const searchButton = document.getElementById('searchButton');
    const searchBar = document.getElementById('searchBar');

    searchButton.addEventListener('click', () => {
        searchBar.classList.toggle('hidden');
    });


</script>
